{% extends "layout.html" %} {% block content %}

<h2>Company Dashboard</h2>

<form
  method="POST"
  action="{% url 'app_users:delete_account' %}"
  onsubmit="
    return confirm(
      'Are you sure you want to delete your account? This cannot be undone.',
    );
  "
>
  {% csrf_token %}
  <button type="submit" style="color: white; background-color: red">
    Delete Account
  </button>
</form>

<br>

{% if company and company.slug %}
<a href="{% url 'app_main:custom_website' company.slug %}">
    www.estoket.com/{{ company.slug }}
</a>
{% else %}
<span>Site not available yet</span>
{% endif %}

<aside>
  <h3>Company Dashboard</h3>
  <ul>
    <li><a href="{% url 'app_main:manage_services' %}">Dashboard</a></li>
    <li><a href="{% url 'app_main:service_index' %}">Add Service</a></li>
    <li><a href="{% url 'app_main:links_index' %}"> Edit Links</a></li>
  </ul>
</aside>



{% if company %}
<div class="card">
  <!-- USER DATA -->
  <h3>User Information</h3>
  <p><strong>Firstname:</strong> {{ request.user.first_name }}</p>
  <p><strong>Lastname:</strong> {{ request.user.last_name }}</p>
  <p><strong>Username:</strong> {{ request.user.username }}</p>
  <p><strong>Email:</strong> {{ request.user.email }}</p>
  <p><strong>About:</strong> {{ request.user.about|safe }}</p>
  <p><strong>Subscription Type:</strong> {{ request.user.user_type }}</p>

  {% if request.user.avatar %}
  <p><strong>Avatar:</strong></p>
  <img src="{{ request.user.avatar.url }}" alt="User Avatar" width="150" />
  {% else %}
  <p>No profile image uploaded</p>
  {% endif %}

  <hr />

  <!-- COMPANY DATA -->
  <h3>Company Information</h3>
  <p><strong>Company Name:</strong> {{ company.company_name }}</p>
  <p><strong>About:</strong> {{ company.company_about|safe }}</p>
  <p><strong>Company Website:</strong> www.estoket.com/{{ company.slug }}</p>
  <p><strong>Location:</strong> {{ company.company_location }}</p>
  <p><strong>Industry:</strong> {{ company.company_industry }}</p>
  <p><strong>Phone:</strong> {{ company.company_phone }}</p>
  <p><strong>Email:</strong> {{ company.company_email }}</p>
  <p><strong>Size:</strong> {{ company.company_size }}</p>
  <p><strong>Founded:</strong> {{ company.company_year_founded }}</p>

  {% if company.company_image %}
  <p><strong>Company Image:</strong></p>
  <img src="{{ company.company_image.url }}" alt="Company Image" width="150" />
  {% endif %}
</div>

{% else %}
<p>You have not completed your company profile yet.</p>
{% endif %}

<hr />

<!-- LINKS -->
<h3>Your Links</h3>

{% if links %}
<ul>
  {% for link in links %}
  <li>
    {{ link.platform|capfirst }}:
    <a href="{{ link.address }}" target="_blank">{{ link.address }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No links added yet.</p>
{% endif %}

<br />

<a href="">Edit Profile</a>

{% endblock content %}
