{% extends "layout.html" %} {% block content %}

<h2>Company Website</h2>

{% if company %}
<div class="card">
  <!-- USER DATA -->
 

  <!-- COMPANY DATA -->
  <h3>Company Information</h3>
  <p><strong>Company Name:</strong> {{ company.company_name }}</p>
  <p><strong>About:</strong> {{ company.company_about|safe }}</p>
  <p><strong>Company Website:</strong> www.estoket.com/{{ company.slug }}</p>
  <p><strong>Location:</strong> {{ company.company_location }}</p>
  <p><strong>Industry:</strong> {{ company.company_industry }}</p>
  <p><strong>Phone:</strong> {{ company.company_phone }}</p>
  <p><strong>Email:</strong> {{ company.company_email }}</p>
  <p><strong>Size:</strong> {{ company.company_size }}</p>
  <p><strong>Founded:</strong> {{ company.company_year_founded }}</p>


  {% if company.company_image %}
  <p><strong>Company Image:</strong></p>
  <img src="{{ company.company_image.url }}" alt="Company Image" width="150" />
  {% endif %}
</div>

{% else %}
<p>You have not completed your company profile yet.</p>
{% endif %}

<hr />

<!-- LINKS -->
<h3>Your Links</h3>

{% if links %}
<ul>
  {% for link in links %}
  <li>
    {{ link.platform|capfirst }}:
    <a href="{{ link.address }}" target="_blank">{{ link.address }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No links added yet.</p>
{% endif %}

<br />

<a href="">Edit Profile</a>

{% endblock content %}
